.about .container {
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  align-items: center;
  position: relative;
}

@media (max-width: 1400px) {
  .about .container {
    grid-template-columns: 1fr;
    text-align: center;
  }

  .about figure {
    display: none;
  }
}
